/* estilos da pesquisa */
main div#janela_formulario {
    width:80%;
    justify-content: center;
    align-items: center;
    margin:50px auto 30px;
}

main div#janela_formulario form {
    width:65%;
    justify-content: center;
    text-align: center;
    margin:0px auto;
}

main div#janela_formulario form h2  {
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    color:#9A9668;
}

main div#janela_formulario form p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    background: #F00;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    width:120px;
    text-align: center;
}

main div#janela_formulario form label {
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
    color: #9A9668;    
}

main div#janela_formulario form input[type="text"], 
main div#janela_formulario form input[type="number"],
main div#janela_formulario form input[type="email"],
main div#janela_formulario form input[type="password"]{  
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:10px;
    border:1px solid #CDC99B;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;
}

main div#janela_formulario form select {
    margin-bottom: 25px;
}

main div#janela_formulario form input[type="submit"] {
    justify-content: center;
    align-items: center;
    padding:10px 20px;
    margin-top:15px;
    color: #FFF;
    border:0;
    border-radius: 5px;
    background-color: #C5996B;
    outline: none;
    cursor: pointer;
}
