.topnav {
    position: relative;
    background-color:#C5996B;
    overflow: hidden;
    margin-top: 85px;
    border-radius: 3%;
    border-radius: 15px;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 15px;
}
.topnav a:hover {
    background-color: #EDEDDC;
    color: black;
}

.topnav a.active {
    background-color: sienna;
    color: white;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.topnav-right {
    float: right;
}
  
  * {box-sizing: border-box;}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: center;
    font-size: 18px;
  }
  
  .topnav-centered a {
    float: none;
    position: relative;
    top: 0%;
    left: 0%;
    transform: none;
  }

  .topnav-right {
    float: none;
  }

  .topnav a:hover {
    background-color: #EDEDDC;
    color: black;
  }
}

@media screen and (max-width: 850px) and (min-width: 601px) {
  .topnav a {
    font-size: 10px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 851px) {
  .topnav a {
    font-size: 14px;
  }
}

