main div#modificar_pedido {
    width:80%;
    margin:50px auto 30px;
}


/* Media query for mobile viewport */
@media screen and (max-width: 400px) {
    main div#modificar_pedido div#paypal-button-container {
        width: 100%;
    }
}

/* Media query for desktop viewport */
@media screen and (min-width: 400px) {
    main div#modificar_pedido div#paypal-button-container {
        width: 250px;
    }
}   

