div#janela_pedidos {
    width:65%;
    margin:0 auto;
    font-family:sans-serif;
    font-size:13px;
}

div#janela_pedidos ul {
    margin:0;
    padding:0;
}

div#janela_pedidos ul:last-child {
    border-bottom:none;
    border-right: none;
}

div#janela_pedidos li {
    list-style:none;
    display:inline-block;
    
}

div#janela_pedidos li:nth-child(1) {
    padding:8px 4px;
}

div#janela_pedidos li:nth-child(2) {
    padding:5px 2px;
}    

div#janela_pedidos form {
    width:50%;
    border: none;
    justify-content: center;
    text-align: center;
    margin:0px auto;
}

div#janela_pedidos form input[type="submit"] {
    justify-content: center;
    align-items: center;
    padding:10px 20px;
    margin-top:10px;
    color: #FFF;
    border:0;
    border-radius: 5px;
    background-color: #C5996B;
    outline: none;
    cursor: pointer;
}

main div#janela_pedidos h2{
    width:70%;
    justify-content: center;
    align-items: center;
    margin:100px auto 30px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 3px;
    color: #9A9668;  
}