/* estilos da pesquisa */
main div#janela_pesquisa {
    width:70%;
    padding: 7px;
    margin:0 auto;
    text-align-last: auto;
}

main div#janela_pesquisa form {
    width:80%;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

main div#janela_pesquisa form input[type="text"] {
    width:70%;
    padding:4.5px;
    border:1px solid #CDC99B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float:left;
    outline: none;
}

main div#janela_pesquisa form input[type="image"] {
    outline: none;
    cursor: pointer;
}
/* fim do estilo da pesquisa */