appdirs==1.4.4
asgiref==3.3.4
attrs==21.2.0
boto3==1.17.84
botocore==1.20.84
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.3
django-admin-tools==0.9.1
django-cleanup==5.2.0
django-environ==0.4.5
django-heroku==0.0.0
django-storages==1.11.1
feedparser==6.0.2
gunicorn==20.1.0
idna==2.10
isodate==0.6.0
jmespath==0.10.0
lxml==4.6.3
mysqlclient==2.0.3
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.0
Pillow==8.2.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
py-mysql2pgsql==0.1.6
pycep-correios==5.0.0
pycparser==2.20
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-decouple==3.4
python-magic==0.4.22
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
s3transfer==0.4.2
sgmllib3k==1.0.0
six==1.16.0
sqlparse==0.4.1
termcolor==1.1.0
urllib3==1.26.4
whitenoise==5.2.0
zeep==4.0.0
