{% include 'standard/base.html' %}
{% load static %}

<html>
    <head>
        <title>Transportadora Vietnã</title>
        <link href="{% static '_css/menu_ini.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <!-- Top navigation -->
            <div class="topnav">
                <!-- Centered link -->
                <div class="topnav-centered">
                    <a class="active" href="#">Home</a>
                </div>
                <!-- Left-aligned links (default) -->
                <a class="nav-link" href="/login/cliente/">Entrar como Cliente</a>
                <a class="nav-link" href="/login/fornecedor/">Entrar como Fornecedor</a>
                <!-- Right-aligned links -->
                <div class="topnav-right">
                    <a class="nav-link" href="/admin/">Entrar como Administrador</a>
                    <a class="nav-link" href="/contato/email/">Fale Conosco</a>
                </div>
            </div>
            <div id="historia">
                <h1>Nossa história</h1>
                <p>Durante o conflito armado em 1955, o Vietnã se dividiu em dois lados:  O lado norte-vietnamita era 
                apoiado pela União Soviética, China e outros aliados comunistas, enquanto os sul-vietnamitas eram 
                apoiados pelos Estados Unidos, Coreia do Sul, Austrália, Tailândia, e outras nações anti-comunistas 
                pelo Mundo. O envolvimento dos Estados Unidos nos conflitos da região aumentou nos anos 60, com o número 
                de tropas estacionadas no Vietnã triplicando de tamanho em 1961 e de novo em 1962. Após o Incidente do 
                Golfo de Tonkin, em 1964, quando um contratorpedeiro americano foi supostamente atacado por embarcações 
                norte-vietnamitas, o Congresso dos Estados Unidos aprovou uma resolução que deu autorização ao presidente 
                americano para aumentar a presença militar do país no Vietnã e escalar o conflito. Unidades de combate 
                americanas começaram a chegar em peso ao país em 1965. </p>
                <p>A guerra rapidamente se expandiu, atingindo o 
                Laos e o Camboja, que passaram a ser intensamente bombardeados pela força aérea dos Estados Unidos a 
                partir de 1968, o mesmo ano em que os comunistas lançaram a Grande Ofensiva do Tet. Esta ofensiva falhou 
                no seu objetivo de derrubar o governo sul-vietnamita e iniciar uma revolução socialista por lá, mas é 
                considerado o ponto de virada da guerra, já que a população americana passou a questionar se uma vitória 
                militar seria possível, com o inimigo capaz de lançar grandes ataques mesmo após anos de derramamento de 
                sangue. A partir de 1969, os Estados Unidos começaram o processo de "Vietnamização", que visava melhorar 
                a capacidade militar do Vietnã do Sul de lutar a guerra por si só, sem apoio externo. Os americanos 
                esperavam assim poder reduzir sua participação no conflito sem ter que comprometer o objetivo estratégico 
                máximo de impedir a expansão do comunismo na região, transferindo a responsabilidade de lutar para os 
                próprios sul-vietnamitas.</p>
                <p>Assim, no começo dos anos 70, os Estados Unidos começaram a retirar suas 
                tropas do Vietnã. O que se seguiu, em janeiro de 1973, foi assinatura do Acordos de Paz de Paris, porém 
                isso não significou o fim das hostilidades. O envolvimento militar americano direto na Guerra do Vietnã 
                foi encerrado formalmente em 15 de agosto de 1973. Não demorou muito tempo e na primavera de 1975, os 
                norte-vietnamitas iniciaram uma grande ofensiva para anexar o Sul de uma vez por todas. Em abril de 1975, 
                Saigon foi conquistada pelos comunistas, marcando o fim da guerra, com o Norte e o Sul do Vietnã 
                sendo formalmente unificados no ano seguinte. O custo em vidas da guerra foi extremamente alto. 
                O total de vietnamitas mortos, civis ou militares, varia de 966 000 a 3,8 milhões. Entre 240 000 e 
                300 000 cambojanos, e 20 000 a 62 000 laocianos perderam a vida também. Já os americanos estimam suas 
                perdas em 58 000 soldados mortos, mais de 300 mil feridos e 1 626 ainda desaparecidos em 1975.</p>
                <p>Fundada em 1955, a transportadora vietnã ajudou ambos os lados, porque não atuamos com viés ideológico, 
                tem os como principal característica a velocidade, nossas entregas são mais rápidas que bala, nossos 
                preços são acessíveis para todos os lados do conflito e trabalhamos com tecnologia de ponta, prontos 
                para o futuro.</p>
            </div>
        </main>
    <body>
</html>

{% include 'standard/footer.html' %}