{% include 'standard/base.html' %}
{% load static %}

<html>
    <head>
        <title>Cancelar Pedido</title>
        <link href="{% static '_css/inclusao.css' %}" rel="stylesheet">
        <link href="{% static '_css/menu_ini.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="topnav">
                <!-- Centered link -->
                <div class="topnav-centered">
                    <a class="active" href="#">Cancelar Pedido</a>
                </div>
                <!-- Left-aligned links (default) -->
                <a href="/listar_produtos/listar/">Listagem de Produtos</a>
                {% if forn %}
                    <a href="/listar_transportadoras/listar/">Listagem de Filiais</a>
                {% endif %}
                <!-- Right-aligned links -->
                <div class="topnav-right">
                    <a href="/gerenciar_pedidos/lista_pedidos/">Gerenciar Pedidos</a>
                    <a href="/sair/">Sair</a>
                </div>
            </div>
            <div id="janela_pedidos">
                <form action="/gerenciar_pedidos/cancelar_pedido/?order={{ id }}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>{{ msg }}</h2>
                    <input type="hidden" name="order" value="{{ id }}">
                    <input type="submit" value="Cancelar Pedido">
                </form>
                <form action="/gerenciar_pedidos/detalhar_pedido/?pedido={{id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Voltar">
                </form>
            </div>
        </main>
    </body>
</html>

{% include 'standard/footer.html' %}