
{% include 'standard/base.html' %}
{% load static %}

<html>
    <head>
        <title>Fornecedores Disponíveis</title>
        <link href="{% static '_css/novo-alteracao.css' %}" rel="stylesheet">
        <link href="{% static '_css/menu_ini.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
        <!-- Top navigation -->
            <div class="topnav">
            <!-- Centered link -->
                <div class="topnav-centered">
                    <a class="active" href="/listar_transportadoras/listar/">Listar Filiais</a>
                </div>
                <!-- Left-aligned links (default) -->
                <a href="/listar_transportadoras/adicionar_ini/">Adicionar Filial</a>
                <a href="/listar_produtos/listar/">Listar Produtos</a>
                <!-- Right-aligned links -->
                <div class="topnav-right">
                <a href="/gerenciar_pedidos/lista_pedidos/">Gerenciar Pedidos</a>
                <a href="/sair/">Sair</a>
                </div>
            </div>
            <div id="janela_transportadoras">
            {% for linha in filiais %}
                <ul class="list-group list-group-horizontal-md justify-content-center">
                    <li class="list-group-item col-md-3 text-center">Nome: {{ linha.nometransportadora }}</li>
                    <li class="list-group-item col-md-3 text-center">Sede: {{ linha.cidade }}</li>
                    <li class="list-group-item col-md-3 text-center"><a href="/listar_transportadoras/atualizar_ini/?codigo={{ linha.transportadoraid }}">Alterar</a> </li>
                    <li class="list-group-item col-md-3 text-center"><a href="/listar_transportadoras/deletar/?codigo={{ linha.transportadoraid }}">Excluir</a> </li>
                </ul>
                <br>
            {% endfor %}
            </div>
        </main>
    </body>
</html>

{% include 'standard/footer.html' %}

