{% include 'standard/base.html' %}
{% load static %}

<html>
    <head>
        <title>Alterar Produto</title>
        <link href="{% static '_css/inclusao.css' %}" rel="stylesheet">
        <link href="{% static '_css/menu_ini.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
        <!-- Top navigation -->
            <div class="topnav">
                <!-- Centered link -->
                <div class="topnav-centered">
                    <a class="active" href="#">Atualizar Produto</a>
                </div>
                <!-- Left-aligned links (default) -->
                {% if fornecedor %}
                    <a href="/listar_produtos/adicionar/">Adicionar Produto</a>
                {% endif %}
                <a href="/listar_produtos/listar/">Listagem Produtos</a>
                <!-- Right-aligned links -->
                <div class="topnav-right">
                {% if fornecedor %}
                    <a href="/listar_transportadoras/listar/">Listar Filiais</a>
                {% endif %}
                    <a href="/gerenciar_pedidos/lista_pedidos/">Gerenciar Pedidos</a>
                    <a href="/sair/">Sair</a>
                </div>
            </div>
            <div id="janela_formulario">
                <form action="/listar_produtos/atualizar/?prod={{ id }}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Atualizar Produto</h2>
                    <h5> {{ form.nomeproduto.errors }} </h5>
                    <h4> {{ form.nomeproduto.label_tag }}{{ form.nomeproduto }} </h4>

                    <h5> {{ form.codigobarra.errors }} </h5>
                    <h4> {{ form.codigobarra.label_tag }}{{ form.codigobarra }} </h4>

                    <h5> {{ form.descricao.errors }} </h5> 
                    <h4> {{ form.descricao.label_tag }}{{ form.descricao }} </h4>

                    <h5> {{ form.tempoentrega.errors }} </h5>
                    <h4> {{ form.tempoentrega.label_tag }}{{ form.tempoentrega }} </h4>

                    <h5> {{ form.categoriaid.errors }} </h5>
                    <h4> {{ form.categoriaid.label_tag }}{{ form.categoriaid }}  </h4>

                    <h5> {{ form.precorevenda.errors }} </h5>
                    <h4>{{ form.precorevenda.label_tag }}{{ form.precorevenda }} </h4>

                    <h5> {{ form.precounitario.errors }} </h5>
                    <h4> {{ form.precounitario.label_tag }}{{ form.precounitario }} </h4>

                    <h5> {{ form.estoque.errors }}</h5>
                    <h4> {{ form.estoque.label_tag }}{{ form.estoque }} </h4>

                    <h5> {{ form.foto_grande.errors}} </h5>
                    <h4> {{ form.foto_grande.label_tag }} {{form.foto_grande}} </h4>

                    <h5> {{ form.foto_pequena.errors}} </h5>
                    <h4> {{ form.foto_pequena.label_tag }} {{form.foto_pequena}} </h4>

                    <input type="submit" value="Atualizar produto">
                </form>
                <form action="/listar_produtos/listar/" method="POST">
                    {% csrf_token %}
                    <input type='submit' value="Voltar">
                </form>
            </div>
        </main>
    </body>
</html>

{% include 'standard/footer.html'%}