{% include 'standard/base.html' %}
{% load static %}

<html>
    <head>
        <title>Deletar Produto</title>
        <link href="{% static '_css/inclusao.css' %}" rel="stylesheet">
        <link href="{% static '_css/menu_ini.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="topnav">
                <!-- Centered link -->
                <div class="topnav-centered">
                    <a class="active" href="#">Deletar Produto</a>
                </div>
                <!-- Left-aligned links (default) -->
                <a href="/listar_produtos/listar/">Listagem de Produtos</a>
                <a href="/gerenciar_pedidos/lista_pedidos/">Gerenciar Pedidos</a>
                <!-- Right-aligned links -->
                <div class="topnav-right">
                {% if fornecedor %}
                    <a href="/listar_transportadoras/listar/">Listar Filiais</a>
                {% endif %}
                    <a href="/sair/">Sair</a>
                </div>
            </div>
            <div id="janela_formulario">
                <form action="/listar_produtos/deletar/?prod={{ id }}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>{{ msg }}</h4>
                    <input type="hidden" name="prod" value="{{ id }}">
                    <input type="submit" value="Deletar produto">
                </form>
                <form action="/listar_produtos/detalhar/?prod={{ id }}" method="GET">
                    <input type="hidden" name="prod" value="{{ id }}">
                    <input type="submit" value="Voltar">
                </form>
            </div>
        </main>
    </body>
</html>

{% include 'standard/footer.html' %}