
{% include 'standard/base.html' %}
{% load static %}

<html>
    <head>
        <title>Adicionar Produto</title>
        <link href="{% static '_css/inclusao.css' %}" rel="stylesheet">
        <link href="{% static '_css/menu_ini.css'%}" rel="stylesheet">
    </head>
    <body>
        <main>
        <!-- Top navigation -->
            <div class="topnav">
                <!-- Centered link -->
                <div class="topnav-centered">
                    <a class="active" href="#">Adicionar Produto</a>
                </div>
                <!-- Left-aligned links (default) -->
                <a href="/listar_produtos/listar/">Listagem de Produtos</a>
                <a href="/gerenciar_pedidos/lista_pedidos/">Gerenciar Pedidos</a>
                <!-- Right-aligned links -->
                <div class="topnav-right">
                    <a href="/listar_transportadoras/listar/">Listagem de Filiais</a>
                    <a href="/sair/">Sair</a>
                </div>
            </div>
            <div id="janela_formulario">
                <form action="/listar_produtos/adicionar/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Incluir Novo Produto</h2>
                    
                    <h5> {{ form.nomeproduto.errors }} </h5>
                    <h4> {{ form.nomeproduto }} </h4>

                    <h5> {{ form.codigobarra.errors }} </h5>
                    <h4> {{ form.codigobarra }} </h4>

                    <h5>{{ form.descricao.errors }}</h5>
                    <h4> {{ form.descricao }} </h4>

                    <h5>{{ form.tempoentrega.errors }}</h5>
                    <h4> {{ form.tempoentrega.label_tag }} {{ form.tempoentrega }} </h4>

                    <h5>{{ form.categoriaid.errors }}</h5>
                    <h4> {{ form.categoriaid.label_tag }} {{ form.categoriaid }}  </h4>

                    <input type="hidden" name="fornecedorid" value="{{fornecedor}}">

                    <h5>{{ form.precorevenda.errors }}</h5>
                    <h4> {{ form.precorevenda }} </h4>

                    <h5>{{ form.precounitario.errors }}</h5>
                    <h4>  {{ form.precounitario }} </h4>

                    <h5>{{ form.estoque.errors }}</h5>
                    <h4> {{ form.estoque }} </h4>
                    
                    <br>

                    <h5>{{ form.foto_grande.errors }}</h5>
                    <h4> {{ form.foto_grande.label_tag }} {{ form.foto_grande }} </h4>

                    <h5>{{ form.foto_pequena.errors }}</h5>
                    <h4> {{ form.foto_pequena.label_tag}} {{ form.foto_pequena }} </h4>

                    <input type="submit" value="Inserir produto">
                </form>
                <form action="/listar_produtos/listar/" method="POST">
                    {% csrf_token %}
                    <input type='submit' value="Voltar">
                </form>
            </div>
        </main>
    </body>
</html>

{% include 'standard/footer.html'%}