{% extends 'pag_base/base.html' %}
{% load static %}

<html>
    <head>
        <title>Fale Conosco</title>
        <link href="{% static '_css/contato.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div id="janela_formulario">
                <form action="contato.php" method="post">
                    <input type="text" name="nome" placeholder="Digite seu nome">
                    <input type="email" name="email" placeholder="Digite seu email">
                    <label>Mensagem</label>
                    <textarea name="mensagem"></textarea>
                    <input type="submit" name="enviar" value="Enviar Mensagem">
                </form>
            </div>
        </main>
    </body>
</html>