<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link href="https://djq1csf1ijqc2.cloudfront.net/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://djq1csf1ijqc2.cloudfront.net/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <footer>
            <div id="footer_central">
                <p>Vietnã Enterprises, Inc.&nbsp;(Empresa fictícia para a disciplina de Sistemas Distribuídos da UNIVASF)</p>
            </div>
        </footer>
    </body>
</html>