{% include 'standard/base.html' %}
{% load static %}

<html>
    <head>
        <title>Produtos Disponíveis</title>
        <link href="{% static '_css/produtos.css' %}" rel="stylesheet">
        <link href="{% static '_css/menu_ini.css' %}" rel="stylesheet">
        <link href="{% static '_css/produto_pesquisa.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
        <!-- Top navigation -->
            <div class="topnav">
                <!-- Centered link -->
                <div class="topnav-centered">
                    <a class="active" href="/listar_produtos/listar/">Listagem de Produtos</a>
                </div>
                <!-- Left-aligned links (default) -->
                {% if fornecedor %}
                    <a href="/listar_produtos/adicionar/">Adicionar Produto</a>
                    <a href="/listar_transportadoras/listar/">Listagem de Filiais</a>
                {% elif cliente %}
                    <a href="/gerenciar_pedidos/lista_pedidos/">Gerenciar Pedidos</a>
                {% endif %}
                <!-- Right-aligned links -->
                <div class="topnav-right">
                    {% if fornecedor %}
                        <a href="/gerenciar_pedidos/lista_pedidos/">Gerenciar Pedidos</a>
                    {% endif %}
                    <a href="/sair/">Sair</a>
                </div>
            </div>
            {% if flag %}
            {% else %}
                <div id="janela_pesquisa">
                <form action="/listar_produtos/listar/" method="GET">
                    <input type="text" name="produto" placeholder="Pesquisa">
                    <input type="image" name="pesquisa" src="{% static '_assets/botao_search.png' %}">
                </form>
            </div>
            {% endif %}
            <br>
            <div id="listagem_produtos">
                {% if flag %}
                    <h2>Não há produtos listados para o cliente/fornecedor!</h2>
                {% else %}
                    {% for linha in produtos %}
                    <ul>
                        <li class="imagem">
                            <a href="/listar_produtos/detalhar/?prod={{ linha.produtoid }}">
                                <img src="{{ link }}{{linha.imagempequena}}">
                            </a>
                        </li>
                        <li>
                            <h3 style="font-size: 1.2rem;">{{ linha.nomeproduto }}</h3>
                        </li>
                        <li>Tempo de Entrega: {{ linha.tempoentrega }}&nbsp;dias</li>
                        <li>Preço unitário: R${{ linha.precounitario }}&nbsp;</li>
                    </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </main>
    </body>
</html>

{% include 'standard/footer.html' %}