{% include 'standard/base.html' %}
{% load static %}

<html>
    <head>
        <title>Listagem dos pedidos</title>
        <link href="{% static '_css/menu_ini.css' %}" rel="stylesheet">
        <link href="{% static '_css/pedidos.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
        <!-- Top navigation -->
            <div class="topnav">
                <!-- Centered link -->
                <div class="topnav-centered">
                    <a class="active" href="/gerenciar_pedidos/lista_pedidos/">Listagem de Pedidos</a>
                </div>
                <!-- Left-aligned links (default) -->
                {% if cli %}
                    <a href="/gerenciar_pedidos/produtos_disp/">Cadastrar Pedido</a>
                    <a href="/listar_produtos/listar/">Listagem de Produtos</a>
                {% else %}
                    <a href="/listar_produtos/listar/">Listagem de Produtos</a>
                {% endif %}
                <!-- Right-aligned links -->
                <div class="topnav-right">
                {% if forn %}
                    <a href="/listar_transportadoras/listar/">Listagem de Filiais</a>
                {% endif %}
                    <a href="/sair/">Sair</a>
                </div>
            </div>
            <div id="janela_pedidos">
            {% if pedidos %}
            {% for linha in pedidos %}
                    {% for linha3 in clientes %}
                        {% if linha3.clienteid == linha.clienteid %}
                                <ul class="list-group list-group-horizontal-md justify-content-center">
                                {% if cli == '' %}
                                    <li class="list-group-item col-md-2 text-center">Cliente:{{ linha3.nomecompleto }}</li>
                                {% endif %}
                                    <li class="list-group-item col-md-3 text-center"><strong>Status:</strong>
                                    {% if linha.status_pedido == 1 %}
                                    Pagamento Confirmado
                                    {% elif linha.status_pedido == 2 %}
                                    Aguardando Pagamento
                                    {% elif linha.status_pedido == 3 %}
                                    Cancelado pelo Cleinte
                                    {% elif linha.status_pedido == 4 %}
                                    Cancelado pela Empresa
                                    {% elif linha.status_pedido == 5 %}
                                    Aguardando Envio
                                    {% elif linha.status_pedido == 6 %}
                                    Enviado
                                    {% elif linha.status_pedido == 7 %}
                                        Entrege
                                    {% endif %}
                                    </li>
                                    <li class="list-group-item col-md-3 text-center"><strong>Valor do Pedido:</strong> R${{ linha.valor_pedido }}</li>
                                    <li class="list-group-item col-md-3 text-center"><strong><a href="/gerenciar_pedidos/detalhar_pedido/?pedido={{ linha.pedidoid }}">Ver Detalhes</a></strong></li>
                                </ul>
                                <br>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
            {% else %}
                <h2>Não pedidos registrados para o cliente/fornecedor!</h2>
            {% endif %}
            </div>
        </main>
    </body>
</html>

{% include 'standard/footer.html' %}